@font-face {
    font-family: "product_sans_blackregular";
    src: url("../Fonts/productsans-regular-webfont.woff2") format("woff2"),
    url("../Fonts/productsans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "product_sansbold";
    src: url("../Fonts/productsans-bold-webfont.woff2") format("woff2"),
    url("../Fonts/productsans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "product_sansregular";
    src: url("../Fonts/productsans-regular-webfont.woff2") format("woff2"),
    url("../Fonts/productsans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.mrg {
    margin: 1rem;
}

* {
    font-family: "product_sansregular", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

li,
a {
    font-family: "product_sansregular", Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #24419f;
    text-decoration: none;
}

.avatar-btn {
    border-radius: 1.2rem;
    border-width: 0;
    margin: -32px 0;
    padding: 0;

    box-shadow: 0px 1px 20px rgba(30, 34, 37, 0.2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10% 0.05rem 10%;
    /*background-color: #2F2F2F;*/
    background-color: #e1d4d4;
    height: 45px;
}

.brand-name {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.brand-name:hover {
    text-decoration: none;
}

.avatar-img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out 0s;
}

.avatar-btn:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.nav_links li {
    display: inline-block;
}

.nav_links {
    transition: all 0.3s ease-in-out 0s;
}

.nav_links li a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.6rem 1.6rem;
    border-radius: 1rem;
}

.nav_links li a:hover {
    color: #41249fd7;
    background-color: #3053c50a;
}

.btn-login {
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 0.2rem 2.4rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.btn-create {
    font-family: "product_sansbold", Arial, sans-serif;
    background-color: #009fb5;
    color: white;
    border-radius: 100px;
    font-size: 1.5rem;
    padding: 0.2rem 2.4rem;
    transition: all 0.3s ease-in-out 0s;
    font-weight: 300;
}

.btn-create:hover {
    box-shadow: 0px 4px 4px rgba(27, 90, 148, 0.2);
    background-color: #2f2f2f
}

.crt {
    height: 1.3rem;
    width: 1.3rem;
    margin-top: -12px;
    margin-left: 0.7rem;
}

.btn-edit {
    font-family: "product_sansbold", Arial, sans-serif;
    background-color: #24419f;
    color: white;
    border-radius: 150px;
    font-size: 1.4rem;
    /*font-size: 400;*/
    padding: 0.4rem 3.2rem;
    transition: all 0.3s ease-in-out 0s;
}

.btn-edit:hover {
    box-shadow: 0px 4px 20px rgba(27, 90, 148, 0.2);
}

.btn-preview {
    font-family: "product_sansbold", Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: #24419f;
    border-width: 0.3rem;
    border-color: #24419f;
    border-radius: 150px;
    font-size: 1.4rem;
    /*font-size: 400;*/
    padding: 0.2rem 3rem;
    transition: all 0.3s ease-in-out 0s;
}

.btn-preview:hover {
    box-shadow: 0px 4px 20px rgba(27, 90, 148, 0.2);
}

.submit-right-arrow {
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 0.7rem;
    margin-top: -0.1rem;
}

.btn-submit {
    height: 46px;
    width: 167px;
    display: flex;
    justify-content: center;
    background: #24419f;
    border-radius: 25px;
    font-family: "product_sansbold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding-top: 0.6rem;
}

.btn-submit:hover {
    box-shadow: 0px 4px 20px rgba(27, 90, 148, 0.2);
}

.google-text {
    font-family: "product_sansbold", Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #24419f;
}

.google-icon {
    width: 22px;
    height: 22px;
    margin: -10px 0 0 0.6rem;
}

.btn-google {
    background-color: white;
    padding: 14px 32px;
    width: 220px;
    height: 54px;
    border-radius: 20px;
}

.sign-up-google {
    padding: 1rem 2rem;
    background-color: #2b303f;
}

.section-1 {
    position: relative;
    z-index: 5;
    background-position: bottom center;
}

#particles-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-1-content {
    /*padding-top: 180px;*/
    float: right;
    color: #fff;
}

.create-cv-btn {
    margin-top: 100px;
}

.section-1-img {
    padding-top: 120px;
}

.section-1-main {
    padding: 25px 25px 0px 0px;
}

.main-resume-example {
    width: 100%;
    max-height: 400px;
    padding-bottom: 2.5rem;
}

.resume-example {
    position: relative;
}

.resume-example-image {
    width: 100%;
    height: 450px;
}

.resume-example-title {
    padding: 3px 10px;
    color: #999;
    background: #fff;
    display: block;
    position: absolute;
    left: -6px;
    right: 1px;
    bottom: -37px;
    border: 1px solid #ddd;
    width: 510px;
    text-align: start;
}

.resume-div {
    padding: 5px;
    margin: 20px 30px 30px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
}

.resume-text-h3 {
    color: #444;
    font-weight: 300;
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}

.section-1-container {
    background-color: #18C7E1;
}

.carousel-image {
    height: 370px;
}

.carousel-indicators{
    /*left: 720px;*/
    position: relative;
    float: right;
    margin-right: 5%;
}

.carousel-indicators > li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.carousel-inner-images {
    margin-bottom: -46px;
}
